html, body, h1 { 
    margin: 0;
}

header {
    background-color: #262626;
    height: 60px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Helvetica;
    font-weight: normal;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    letter-spacing: 1px;
}

h1 span {
    color: #4decff;
    font-weight: bold;
}

nav {
    margin-right: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}

nav a {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    cursor: pointer;
}

nav a:hover {
    color: #4decff;
}

.hero{
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position-y: -150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.features{ 
    width: 50%;
    height: 250px;
    background-color: #4decff;

    display: flex;
    
}

.features div {
    width: calc(100% / 3);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features div:nth-child(1) {
    background-color: #262626;
}

.features img {
    width: 30%;
    margin-bottom: 20px;
}

.features h1 {
    margin: 0;
    font-size: 18px;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.main {
    width: 60%;
    margin: auto;
}

.description {
    margin-top: 80px;
    font-family: Helvetica;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description img {
    width: 50%;
    box-shadow: 0px 0px 5px #000;
    margin-right: 100px;
    flex-shrink: 0;
}

.description h2 {
    margin: 0;
    font-size: 20px;
}

.description p {
    font-size: 16px;
    margin: 10px 0 0 0;
    text-align: justify;
}

.description p:not(:last-child) {
    margin-bottom: 20px;
}

.description ul{
    margin-top: -10px;
    margin-left: 5%;
}
.description ol{
    margin-left: 6%;
    margin-top: 10px;
}

.signup{
    height: 500px;
    margin-top: 150px;
    
    background-image: url(https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: 0px -20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup form{
    background-color: white;
    height: calc(100% - 100px);
    width: calc(40% - 50px);

    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
}

/*
-----------------------------------------------------------------------
*/
.logo {
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

#post-author {
    width: 100%;
}

label, .post > span {
    font-weight: bold;
    font-size: 16px;

    display: inline-block;
    margin-bottom: 5px;
}

form, .post {
    width: 800px;
    height: auto;
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 40px;

    font-family: Helvetica;
    font-size: 16px;

    padding: 10px;
    box-shadow: 0px 0px 5px gray;

    margin-left: auto;
    margin-right: auto;

    overflow-wrap: break-word;
}

textarea {
    font-family: Helvetica;
    font-size: 16px;
    width: 100%;
    height: 80px;
    resize: none;
}

button {
    background-color: darkviolet;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    font-size: 14px;
}

button:hover{
    cursor: pointer;
}

.signup, .main{
    color: darkblue;
}

#visibilityButton{
    margin-left: 45%;
    margin-top: 5%;
    height: max-content;
}

#pinkButton{
    height: max-content;
    width: min-content;
    background-color: #FF44CC;
    color: black;
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}